.receipt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 500px;
}

.receipt-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.receipt-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.receipt-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
}

.receipt-value {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 1.2rem;
  color: black;
  overflow-wrap: break-word;
  word-break: break-all;
}
